/* GENERAL SETUP */
body {
	background-color: #4182bd; /* bottom color of style1-background.png */
	background-image: url("../img/style1-background.png");
	background-repeat:no-repeat;
	background-position: top center;
	margin: 0;
	color: white;
	font-family: "Helvetica";
	font-weight: lighter;
}

.clr {
	clear:both;
}

p {
	font-size: 1em;
}

h1 {
	font-family: "Helvetica";
}

.button {
	padding: 0 2.5em;
	height: 2em;
	border-radius: 5px;
	border: 0px;
	position: relative;
	color:inherit;
	font-size:inherit;
	font-weight:inherit;
	outline:none;
}

.button:before {
	content: "";
	position: absolute;
	top:0;
	left:0;
	border-radius: 5px;
	border: 0px;
	width:100%;
	height:100%;
	opacity:0;
	background: rgba(0,0,0,0.1);
	-moz-transition: all .1s;
	-webkit-transition: all .1s;
	transition: all .1s;
}

.button > * {
  z-index: 1;
  position:relative;
}

.button:hover:before {
	opacity:.5;
}

.button:active:before {
	opacity: 1;
}

.arrow:after {
	content:"";
	background-image: url("/img/white-arrow-right.png");
	position: absolute;
	height: 21px;
	width: 12px;
	right: 1em;
	top: 50%;
	margin-top: -10.5px;
	z-index: 1;
}



/* COLUMN USED FOR RESPONSIVE GRID */
.col {
	display: block;
	float: left;
	width: 50%;
}

/* ELEMENT CUSTOMIZATION */

#header {
	background-color: #033058; /* dark blue from screenshots */
	padding: 0.3em;
	height: auto;
}

#header img{
	display: block;
	float: left;
	margin-left: 1em;
}

#header h1{
	float: left;
	margin: 0.2em;
	margin-left: 0.5em;
}

#header p{
	text-align: right;
	margin-right: 1em;
}

#register_container {
	width: 45%;
	min-width: 420px;
	margin: 0 auto;
	overflow: auto;
}

#register_container section {
	overflow: hidden;
	margin: 1em;
}

#register_container p {
	text-align: center;
	clear:both;
}

.fieldwrapper {
	clear:left;
	margin: 1em 0;
	overflow:hidden;
}

.fieldwrapper label {
	width: 36%;
	line-height: 2.2rem;
}

.fieldwrapper > * {
	float:left;
}

.fieldwrapper input, .fieldwrapper select {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	width: 64%;
	height: 2.2rem;
	border-radius: 3px;
	padding: 0.4rem;
	border: 1px solid #000;
	color: #000;
}

.register {
	float:right;
	border: 1px solid rgb(18,98,1);
	background: rgb(198,198,198);
}

.register:after {
	content:"";
	position:absolute;
	background: url("/img/white-arrow-right.png");
}

.signin {
	float:right;
	background: rgb(241,137,1);
	border:1px solid rgb(188,108,1);
	margin: 0.5em;
}

.next {
	width: 40%;
	min-width: 9em;
	float: right;
	background: #36d344;
	border:1px solid #116d01;
}

.includefloats:before,
.includefloats:after {
    content: " ";
    display: table;
}

.includefloats:after {
    clear: both;
}

/* ID CONTENT */

#content {
	margin: auto;
	width: 80%;
	max-width: 45em;
}

/* SCORE AND CATEGORY */

#questionheader {
	font-weight: bold;}

#questionheader > *{
	width: 33%;
}

.playerscore {
}

.point {
	display: block;
	float: left;
}

#score1 {
	float: left;
}

#score1 p{
	padding-left: 0.4em;
}

#score1 .point{
	float: left;
	margin-right: 0.5em;
}

#score2 {
	text-align: right;
	float: right;
}

#score2 p{
	padding-right: 0.4em;
}

#score2 .point{
	float: right;
	margin-left: 0.5em;
}

#category {
	float: left;
	text-align: center;
}

/* QUESTION */
#question{
	text-align: center;
	font-size: 1.3em;
	line-height: 1.5em;
}

/* CLASS ANSWER */
.answer {
	margin: 0.5em;
	border: 2px solid;
	border-radius: 0.7em;
	border-color:#b9d6f0;
	background-color: #b9d6f0;
	color: #033058;
}

.answer p{
	text-align: center;
}

.selected {
	color: white;
	border-color:#033058;
	background-color: #033058;
}

#questionheader:before,
#questionheader:after {
	content: " ";
	display: table;
}

#questionheader:after{
	clear: both;
}

/* ID QUESTIONFOOTER */
#questionfooter {
	padding-top: 1em;
	padding-bottom: 1em;
	height: auto;
}

#questionfooter p{
	padding: 0;
	margin: 0;
}

#questionfooter a p{
	text-align: center;
	border-radius: 10px;
	padding: 0.2em;
	background-color: green;
	width: 30%;
}

#footer p{
	font-weight: lighter;
	text-align: center;
	font-size: 1em;
	padding-top: 3em;
}

#next_container {
	float: right;
}

#info_container {
	float: left;
}

#info_container meter{
	margin-bottom: 1em;
	width: 100%;
}

#info_container p{
	display: block;
	float: left;
	margin-bottom: 0.2em;
}

#info_container #time_text{
	margin-left: 0.3em;}



/* MEDIA QUERIES */
@media screen and (max-width: 32em) {
	.col {
		width: 100%;
	}

	label, input, select, #register_container {
		width: 100% !important;
		min-width: 0 !important;
		margin: 0 !important;
	}

	#next_container .button{
		width: 100%;
		margin-bottom: 1em;
	}

	#category p{
		margin-top: 5em;
	}
}
