/* GENERAL SETUP */
body {
	background-color: #4182bd; /* bottom color of style1-background.png */
	background-image: url("../img/style1-background.png");
	background-repeat:no-repeat;
	margin: 0;
}

p {
	font-family: "Helvetica";
	font-size: 1em;
	font-weight: lighter;
	color: white;
}

h1 {
	color: white;
}

.clr {
	clear:both;
}

/* COLUMN USED FOR RESPONSIVE GRID */
.col {
	display: block;
	float: left;
	width: 50%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
	.col { 
		width: 100%;
	}
}

/* ELEMENT CUSTOMIZATION */

#header {
	background-color: #033058; /* dark blue from screenshots */
	padding: 0.3em;
	height: auto;
}

#header img{
	display: block;
	float: left;
	margin-left: 1em;
}

#header h1{
	float: left;
	margin-top: 0.2em;
	margin-left: 0.5em;
}

#header p{
	text-align: right;
	margin-right: 1em;
}

/* ID CONTENT */
#content {
	margin: auto;
	width: 80%;
}

/* CLASS ANSWER */
.answer {
	margin-top: 1em;
	margin-left: 1em;
	border: 2px solid;
	border-radius: 25px;
}

.answer p{
	text-align: center;
}

/* ID QUESTIONFOOTER */
#questionfooter {
	padding-top: 1em;
}

#footer p{
	font-weight: lighter;
	text-align: center;
	font-size: 1em;
}

