/* GENERAL SETUP */
body {
	background-color: #4182bd; /* bottom color of style1-background.png */
	background-image: url("../img/style1-background.png");
	background-repeat:no-repeat;
	background-position: top center;
	margin: 0;
	color: white;
	font-family: "Helvetica";
}

p {
	font-size: 1em;
	font-weight: lighter;
}

h1 {
	font-family: "Helvetica";
}

.button {
	width: 5em;
	height: 2em;
	font-size: 1em;
	text-align: center;
	border-radius: 10px;
	background-color: orange;
	display: inline-block;
}

.button:hover {
	background-color: blue;
}

.button:active {
}

.clr {
	clear:both;
}

/* COLUMN USED FOR RESPONSIVE GRID */
.col {
	display: block;
	float: left;
	width: 50%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 32em) {
	.col {
		width: 100%;
	}
}

/* ELEMENT CUSTOMIZATION */

#header {
	background-color: #033058; /* dark blue from screenshots */
	padding: 0.3em;
	height: auto;
}

#header img{
	display: block;
	float: left;
	margin-left: 1em;
}

#header h1{
	float: left;
	margin-top: 0.2em;
	margin-left: 0.5em;
}

#header p{
	text-align: right;
	margin-right: 1em;
}

#nextbutton:after {
	content=".";
}

#register_container {
	width: 45%;
	margin: 0 auto;
	overflow: auto;
}

#register_container section {
	overflow: auto;
	margin: 1em;
}

.fieldwrapper {
	clear:left;
}

.fieldwrapper label {
	width: 40%;

}

.fieldwrapper > * {
	float:left;
	margin: 1em 0;
}

.fieldwrapper input, .fieldwrapper select {
	width: 60%;
	height: 2.5em;
	border-radius: 3px 3px 3px 3px;
	padding: 0 0.6em;
	box-sizing: border-box;
    border: 1px solid #000;
	color: #000;
    display: inline-block;
}

/* ID CONTENT */
#content {
	margin: auto;
	width: 80%;
}

/* SCORE AND CATEGORY */

.playerscore {
	width: 33%;
}

.point {
	display: inline;
}

#score1 {
	float: left;
}

#score2 {
	text-align: right;
	float: right;
}

#category {
	width: 33%;
	float: left;
	text-align: center;
	font-weight: bold;
}


/* QUESTION */
#question{
	text-align: center;
	font-size: 1.3em;
	line-height: 1.5em;
}

/* CLASS ANSWER */
.answer {
	margin-top: 1em;
	margin-left: 1em;
	border: 2px solid;
	border-radius: 0.7em;
	border-color:#b9d6f0;
	background-color: #b9d6f0;
	color: #033058;
}

.answer p{
	text-align: center;
}

.selected {
	color: white;
	border-color:#033058;
	background-color: #033058;
}

/* ID QUESTIONFOOTER */
/* TODO: das ganze questionfooter scheint mir nicht so koscher zu sein. Der rest dürfte schon gehen. */
#questionfooter {
	padding-top: 1em;
	padding-bottom: 1em;
	height: auto;
}

#questionfooter p{
	padding: 0;
	margin: 0;
}

#questionfooter a p{
	text-align: center;
	border-radius: 10px;
	padding: 0.2em;
	background-color: green;
	width: 30%;
}

#footer p{
	font-weight: lighter;
	text-align: center;
	font-size: 1em;
}
