@(field: Field, label: String = "", placeholder: String = "", help: String = "")
@import play.i18n._

<div class="@if(field.hasErrors) {error}"> 
    @if(field.hasErrors){
    	<div role="alert" class="errors"> 	   	
    		@for(error <- field.errors) {
			    <span> @Messages.get( error.message, error.args )</span>
			}
    	</div>
    }    
    <label>  @label </label>
    <div class="input">
        <input
        type="text"
        class="form-control @if(field.hasErrors) {error}"
        id="@field.id"
        name="@field.name"
        value="@field.value.getOrElse("")"
        placeholder="@placeholder" />
    </div>
</div>



