    p {
		font-size: 1em;
	}

	h1 {
		font-family: "Helvetica";
	}
	
	body {
		background-image:url('../img/style1-background.png');
		background-color:#4182BD;
		background-repeat: no-repeat;
		background-position: center top;
		margin: 0;
		font-family: "Arial";
		color:#fff;
	}
	
	header {
		background-color:#033058;
		padding: 0.5em;
		height: auto;
	}

	header img {
		padding-right: 1em;
		float: left;
		display: block;
	}
	
	header h1{
		color:#fff;
		float: left;
		margin-bottom: auto;
		margin-top: auto;
	}	
	
	header nav {
		float:right;
		margin-right: 1em;
		margin-bottom: auto;
		margin-top: auto;
		vertical-align:middle;
	}
	
	.BIGorange {
		color: #fef4e9;
		background: #f29400;
	}
	
	.green {
		color: #fef4e9;
		background: #36d344;
	}
	
	.grey {
		color: #fef4e9;
		background: #ccc;
	}
	
	.button{ 
		border-radius:0.5em;
		font-size: 1.2em;
		padding: 0.5em 2em 0.5em 2em;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		border:none;
		margin: 0.5em;
	}
	
	.question {
		text-align: center;
		font-weight: lighter;
		font-size: 1.5em;
	}
	
	.unselected {
		background-color: #B9D6F0;
		color: #0A3668;
	}
	
	.selected {
		background-color: #033058;
		color: #fff;
	}
	.left {
		float: left;
	}

	.right {
		float: right;
	}

		
	.answer {
		border-radius:0.5em;
		font-size: 1.2em;
		padding: 1em;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		border:none;
		float: left;
		display: block;
		width: 48%;
		margin: 3px;;
	}
	
	
	.content {
		margin: auto;
		width: 80%;
		max-width: 50em;
		clear:both;
	}
	
	.questionFooter {
		height: auto;
		clear: both;
		padding-top: 2em;
	}

	.remainingTime {
	width:50%;
	margin:0;
	padding:0;
	}
	.continue {
	width:50%;
	margin:0;
	padding:0;
	}
		
	.remainingTime meter{
		width: 100%;
	}
	.remainingTime p {
		font-weight: lighter;
		font-size: 1.2em;
	}

	.continue button {
		width: 50%;
		float:right;
	}
	
	footer p{
		font-weight: bold;
		text-align: center;
		font-size: 1em;
	}
	
	.floating:before,
	.floating:after {
		content: " ";
		display: table;
	}

	.floating:after {
		clear: both;
	}
	
	.questionheader {
		margin-top:1em;
		padding:0;
	}
	
	.questionheader h2{
		font-weight: bold;
		font-size: 1.2em;
		margin:0;
		padding:0;
		text-align:center;
	}
	
	.score {
		margin: 0;
		padding: 0;
	}
	
	.scorepoint {
		margin: 1px;
		display: block;
		float: left;
		width: 21px;
		height: 21px;
		background-position: center;
		background-repeat: no-repeat;
	}
	
	.yes {
	background-image: url("../img/correct-white.png");
	}

	.no {
		background-image: url("../img/incorrect-white.png");
	}

	.notanswered {
		background-image: url("../img/unknown-white.png");
	}

	
	.player1 {
		float:left;
	}
	
	.player2 {
		float: right;
	}
	
	
	.inputLabelGroup {
		margin-top:1em;
		display: inline-block;
		height: auto;
		width: 100%;
	}

	.inputLabelGroup label {
		width: 35%;
		font-size: 1.2em;
	}
	.inputLabelGroup input,select {
		float:right;
		width: 65%;
		font-size: 1.2em;
		font-weight: lighter;
	}
	
	#regSection {
		width: 45%;
		max-width: 800px;
		min-width: 420px;
		margin: 0 auto;
		overflow: auto;
		clear:both;
	}
	#regSection p {
		display: block; 
		width:100%;
		text-align: center;
		clear: both;
	}

	#submitbuton {
		float: right;
		clear: both;
		margin: 0.5em;
	}
	
    
	/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	*, *:before, *:after {
	  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	 }
	 
	/* MEDIA QUERIES */
	@media screen and (max-width: 32em) {
	#regSection label,
	#regSection input,
	#regSection select,
	#regSection {
		width: 100% !important;
		min-width: 0 !important;
		margin: 0 !important;
	}
	
	.left, .right {
		float: none;
		width: 100%;
	}

	.left button, .right button {
		width: 100%;
	}
}
    