@(pageName: String)
@import play.i18n._

@pageName match {
	case "authentication" => {
		@anchor("#login",Messages.get("acc.auth"))
	}
	
	case "quiz" => {
		@anchor("#question",Messages.get("acc.quiz"))
	}
	
	case "quizover" => {
		@anchor("#roundwinner",Messages.get("acc.quizover"))
	}
	
	case "registration" => {
		@anchor("#register",Messages.get("acc.registration"))
	}
	
	case "roundover" => {
		@anchor("#roundwinner",Messages.get("acc.roundover"))
	}
	
	case _ => {}
		
}



@anchor(href: String, text: String) = {
	<a class="accessibility" href="@href">@text</a>
}