@(myForm : play.data.Form[LoginModel])
@import play.i18n._

@main("loginpage", "authentication") {
<!-- Login section -->
<section role="main">
	<section id="login" aria-labelledby="loginheading">
		@helper.form(action = routes.AuthenticationController.loginSubmit) {
			<legend id="loginheading">Login</legend>
			
			@if(myForm.hasGlobalErrors) {
			    <div role="alert" class="errors">
			        @Messages.get( myForm.globalError.message )
			    </div>
			}
			
			@formfields.textFormField(
				myForm("username"),
            	label = Messages.get("form.username"),
            	placeholder = "",
            	help = "")
            	
            @formfields.passwordFormField(
				myForm("password"),
            	label = Messages.get("form.password"),
            	placeholder = "",
            	help = "")
			
			<input id="loginsubmit" type="submit" value=@Messages.get("auth.login") />
		}	
	</section>
	<!-- Register section -->
	<section id="register" aria-labelledby="registerheading">
		<h2 id="registerheading" class="accessibility">Registrierung</h2>
		<p>@Messages.get("auth.regquestion")</p>
		<a href="register">@Messages.get("auth.gotoreg")</a>
	</section>
</section>
}