@(myForm : play.data.Form[LoginModel])
@import play.i18n._

@main("loginpage", "authentication") {
<!-- Login section -->
<section role="main">
	<section id="login" aria-labelledby="loginheading">
		@helper.form(action = routes.AuthenticationController.loginSubmit) {
			<legend id="loginheading">Login</legend>
			
			@if(myForm.hasGlobalErrors) {
			    <p class="error">
			        @Messages.get( myForm.globalError.message ) 
			    </p>
			}
			
			@if(myForm.hasErrors) {
				<p>@Messages.get("error.form")</p>
        	}
        	
        	@for(error <- myForm("username").errors) {
			    <p>@Messages.get( error.message() )</p>
			}
			
			@helper.input(myForm("username"), '_label -> Messages.get("form.username"), '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
			   <input name="@name" id="@id"
					type="text" @toHtmlArgs(args) />
			}
			
			@for(error <- myForm("password").errors) {
			    <p>@Messages.get( error.message() )</p>
			}
			
			@helper.input(myForm("password"), '_label -> Messages.get("form.password"),'_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
			 <input name="@name" id="@id"
					type="password" @toHtmlArgs(args) />
			}
			<input id="loginsubmit" type="submit" value=@Messages.get("auth.login") />
		}	
	</section>
	<!-- Register section -->
	<section id="register" aria-labelledby="registerheading">
		<h2 id="registerheading" class="accessibility">Registrierung</h2>
		<p>@Messages.get("auth.regquestion")</p>
		<a href="register">@Messages.get("auth.gotoreg")</a>
	</section>
</section>
}