@(myForm : play.data.Form[models.User])
@main("loginpage", "authentication") {
<!-- Login section -->
<section role="main">
	<section id="login" aria-labelledby="loginheading">
		@helper.form(action = routes.AuthenticationController.loginSubmit) {
			<legend id="loginheading">Login</legend>
			
			@helper.input(myForm("username"), '_label -> "Benutzername:", '_showConstraints -> false) { (id, name, value, args) =>
			   <input name="@name" id="@id"
					type="text" @toHtmlArgs(args) />
			}
			
			@helper.input(myForm("password"), '_label -> "Passwort:",'_showConstraints -> false) { (id, name, value, args) =>
			 <input name="@name" id="@id"
					type="password" @toHtmlArgs(args) />
			}
			<input id="loginsubmit" type="submit" value="Anmelden" />
		}	
	</section>
	<!-- Register section -->
	<section id="register" aria-labelledby="registerheading">
		<h2 id="registerheading" class="accessibility">Registrierung</h2>
		<p>Nicht registriert?</p>
		<a href="register">Zur Registierung</a>
	</section>
</section>
}