@(bodyId: String, pageName: String)(content: Html)
@import play.i18n._
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/framework.js")" type="text/javascript"></script>
        <title>Business Informatics Group Quiz</title>
    </head>
    
    <body id="@bodyId">
    
    <a class="accessibility" href="#question">Zur Frage springen</a>
    <header role="banner" aria-labelledby="mainheading">
		<h1 id="mainheading">
			<span class="accessibility">Business Informatics Group</span> Quiz
		</h1>
	</header>
	<nav role="navigation" aria-labelledby="navheading">
	<h2 id="navheading" class="accessibility">Navigation</h2>
		<ul>
			@nav(pageName)
		</ul>
	</nav>
	
    @content
    
    <!-- footer -->
	<footer role="contentinfo">© 2014 BIG Quiz</footer>
	</body>
    
</html>
