@(users: List[User], round: Round)

@AnswerToSpan(playerId: Integer, answerId: Integer, answer: Answer) = {
	@if(answer == null) {
		<span class="player@(playerId)answer@(answerId)" class="unknown">Unbekannt</span>
	} else {
		@if(answer.isCorrect()) {
			<span id="player@(playerId)answer(@answerId)" class="correct">Richtig</span>
		} else {
			<span id="player@(playerId)answer(@answerId)" class="incorrect">Falsch</span>
		}
	}

}

@for((user, i) <- users.zipWithIndex) {
	<h2 id="roundinfoheading" class="accessibility">Spielerinformationen</h2>
   	<div id="player@(i+1)info">
    	<span id="player@(i+1)name">@user.getName()</span>
    	<ul class="playerroundsummary">
    		@for(j <- 0 to 2) {
     		<li>
     			<span class="accessibility">Frage: @(j+1)</span>
      			@AnswerToSpan(i+1, j+1, round.getAnswer(j, user))	        			
     		</li>
    		}
    	</ul>
   	</div>
}