@(quiz: QuizGame)

@users = @{ quiz.getPlayers() }

@main("winnerpage", "quizover") {
         <section role="main">
            <!-- winner message -->
            <section id="roundwinner" aria-labelledby="roundwinnerheading">
                <h2 id="roundwinnerheading" class="accessibility">Endstand</h2>
                <p class="roundwinnermessage">@quiz.getWinner().getName() gewinnt!</p>
            </section>
        
            <!-- round info -->    
            <section id="roundinfo" aria-labelledby="roundinfoheading">
                <h2 id="roundinfoheading" class="accessibility">Spielerinformationen</h2>
                @for((user, i) <- users.zipWithIndex) {
	                <div id="player@(i+1)info" class="playerinfo">
	                    <span id="player@(i+1)name" class="playername">@users(i).getName()</span>
	                    <p id="player@(i+1)roundcounter" class="playerroundcounter">
	                    Gewonnene Runden: <span id="player@(i+1)wonrounds" class="playerwonrounds">@quiz.getWonRounds(users(i))</span></p>
	                </div>
                }
                <a id="next" href="@routes.FlowController.quiz" accesskey="n">Neues Spiel</a>
            </section>
        </section>
        <script type="text/javascript">
            //<![CDATA[
	            $(document).ready(function(){
	         	   if(supportsLocalStorage()){
	         		   localStorage["lastGame"] = new Date().getTime();
	         	   }
	            });
            //]]>
        </script>
}
