@(users: List[User], round: Round)

@currentQuestion = @{ round.getCurrentQuestion(users(0)); }
@main("questionpage","quiz") {
<!-- round info -->
<section role="main">
    <section id="roundinfo" aria-labelledby="roundinfoheading">
        @playerInfo(users,round)
        <div id="currentcategory"><span class="accessibility">Kategorie:</span> @currentQuestion.getCategory().getName()</div>
    </section>
    
    <!-- Question -->
    <section id="question" aria-labelledby="questionheading">
        
        <form id="questionform" action="@routes.FlowController.nextQuestion" method="post">
            <h2 id="questionheading" class="accessibility">Frage</h2>
            <p id="questiontext">@currentQuestion.getText()</p>
            <ul id="answers">
            @for((choice, i) <- currentQuestion.getAllChoices().zipWithIndex) {
                <li>
                	<input type="hidden" name="option@(i+1)Id" value="@choice.getId()" />
                	<input id="option@(i+1)" name="option@(i+1)" type="checkbox"/>
                	<label for="option@(i+1)">@choice.getText()</label>
                </li>
            }
            </ul>
            <input id="timeleftvalue" name="timeleftvalue" type="hidden" value="-1"/>
            <input id="next" type="submit" value="weiter" accesskey="s"/>
        </form>
    </section>
    
    <section id="timer" aria-labelledby="timerheading">
        <h2 id="timerheading" class="accessibility">Timer</h2>
        <p><span id="timeleftlabel">Verbleibende Zeit:</span> <time id="timeleft">-1</time></p>
        <meter id="timermeter" min="0" low="-1" value="-1" max="-1"/>
    </section>
    
    <section id="lastgame">
        <p>Letztes Spiel: Nie</p>
    </section>
</section>


<script type="text/javascript">
    //<![CDATA[
    
    // initialize time
    $(document).ready(function(){
  var maxtime = @(currentQuestion.getMaxTime());
  var hiddenInput = $("#timeleftvalue");
  var meter = $("#timer meter");
  var timeleft = $("#timeleft");
  
  hiddenInput.val(maxtime);
  meter.val(maxtime);
  meter.attr('max', maxtime);
  meter.attr('low', maxtime/100*20);
  timeleft.text(secToMMSS(maxtime));
  
  // set last game
  if(supportsLocalStorage()){
      var lastGameMillis = parseInt(localStorage['lastGame'])
      if(!isNaN(parseInt(localStorage['lastGame']))){
          var lastGame = new Date(lastGameMillis);
      	$("#lastgame p").replaceWith('<p>Letztes Spiel: <time datetime="'
      			+ lastGame.toUTCString()
      			+ '">'
      			+ lastGame.toLocaleString()
      			+ '</time></p>')
      }
       }
    });
    
    // update time
    function timeStep() {
        var hiddenInput = $("#timeleftvalue");
        var meter = $("#timer meter");
        var timeleft = $("#timeleft");
        
        var value = $("#timeleftvalue").val();
        if(value > 0) {
            value = value - 1;   
        }
        
        hiddenInput.val(value);
        meter.val(value);
        timeleft.text(secToMMSS(value));
        
        if(value <= 0) {
            $('#questionform').submit();
        }
    }
    
    window.setInterval(timeStep, 1000);
    
    //]]>
</script>
}