@(myForm : play.data.Form[UserRegisterModel])
@import play.i18n._

@main("registerpage", "registration") {
        <section role="main" id="register" aria-labelledby="registerheading">
            <!-- Register section -->
            <h2 id="registerheading" class="accessibility">@Messages.get("register.heading")</h2>
            
            @helper.form(action = routes.AuthenticationController.registerSubmit) {
				<legend>@Messages.get("register.personallegens")</legend>
				
				@if(myForm.hasGlobalErrors) {
				    <div role="alert" class="errors">
				        @Messages.get( myForm.globalError.message )
				    </div>
				}
				
				@formfields.textFormField(
					myForm("firstname"),
	            	label = Messages.get("form.firstname"),
	            	placeholder = "",
	            	help = "")
	            	
	            @formfields.textFormField(
					myForm("lastname"),
	            	label = Messages.get("form.lastname"),
	            	placeholder = "",
	            	help = "")
	          
	            @formfields.dateFormField(
					myForm("birthdate"),
	            	label = Messages.get("form.birthdate"),
	            	placeholder = "",
	            	help = "")
	            	
	       		@formfields.genderFormField(
					myForm("gender"),
	            	label = Messages.get("form.gender"),
	            	placeholder = "",
	            	help = "")
				
				<legend>@Messages.get("register.loginlegend")</legend>
				
				@formfields.textFormField(
					myForm("username"),
	            	label = Messages.get("form.register.username"),
	            	placeholder = "",
	            	help = "")
	            	
	            @formfields.passwordFormField(
					myForm("password"),
	            	label = Messages.get("form.register.password"),
	            	placeholder = "",
	            	help = "")
				
				<input id="registersubmit" type="submit" value=@Messages.get("nav.register") />
				
				<p id="requiredhint">@Messages.get("form.requiredhint")</p>
			}	
            
            </form>
        </section>
}
