@(users: List[User], round: Round)

@main("winnerpage","roundover") {
	<section role="main">
	    <!-- winner message -->
	    <section id="roundwinner" aria-labelledby="roundwinnerheading">
	        <h2 id="roundwinnerheading" class="accessibility">Rundenzwischenstand</h2>
	        <p class="roundwinnermessage">@round.getRoundWinner().getName() gewinnt Runde 1!</p>
	    </section>
	
	    <!-- round info -->    
	    <section id="roundinfo" aria-labelledby="roundinfoheading">
	        @playerInfo(users, round)
	        <a id="next" href="question.html">Weiter</a>
	    </section>
	</section>

}