<?xml version="1.0" encoding="UTF-8"?>
<!-- <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	version="2.5"> -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<description>BIG Quiz Servlet</description>
	<display-name>BIG Quiz</display-name>
	<servlet>
		<servlet-name>BigQuiz</servlet-name>
		<servlet-class>at.ac.tuwien.big.we14.lab2.servlet.BigQuizServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BigQuiz</servlet-name>
		<url-pattern>/BigQuizServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>start.jsp</welcome-file>
	</welcome-file-list>
</web-app>